<ul class="pageitem">
  <% @book_info.each do |info| %>
  <li class="textbox"><%= info %></li>
  <% end %>
</ul>
<% if @reserve_count > 0 %>
<ui class="pageitem">
<li class="textbox">予約 <%= @reserve_count.to_s %> 人</li>
<% end %>
</ui>
<ul class="pageitem">
  <% @stocks.each do |stock| %>
  <li class="textbox"><%= stock[:library] %>, <%= stock[:location] %>, <%= stock[:code] %>, <%= stock[:lending] %><%= stock[:kintai] %></li>
  <% end %>
</ul>
<ul class="pageitem">
  <li class="form"><input name="link" type="button" value="図書館のページを開く" onclick="window.location = '<%= @url %>'; return false;"/></li>
</ul>
